.top{
	display: block;
}
@font-face {
    font-family: Aardvark; /* Имя шрифта */
    src: url(fonts/Aardvark.ttf); /* Путь к файлу со шрифтом */
   }

.header{
	background: #191919;
	width: 100%;
	height: 84px;
	position: fixed;
  	top: 0;
 	left: 0;
}

.logo{
	position: relative;
	left: 6%;
	top: 3px;
	width: 46px;
	height: 73px;
}


.social {
	position: fixed;
	top: 15px;
	right: 6%;
	margin: 0; /* Обнуляем значение отступов */
	padding: 4px; /* Значение полей */
	}
.social img {
	top: 16px;
	padding: 3px; /* Поля вокруг текста */
	margin: 0 30px;
}

.phone{
	position: relative;
	top: -10px;
	margin: 0 30px;
	font-size: 18pt;
	font-family: Aardvark;
	color: white;
	text-decoration: none;
}

.social img a {
	color: white;
	text-decoration: none;
	margin: 0 30px;
}


